.divinternal{
    margin-bottom: 100px;
}
body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

.mystyle {
    flex: 1 0 auto;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 2px;
}

.myfooter{
    padding: 0px;
}

.mycard{
    margin: 0px;
}

.Deletelist{
    color: red !important;
}

.Updatelist{
    color: green !important;
}

.Deleteitem{
    color: red !important;
}

.UpdateItem{
    color: green !important;
}